@import url('../assets/styles/variables.css');

div .codemirror-div {
    right: 0;
    bottom: 0;
    position: relative;
    top: calc(var(--topbar-height) + var(--toolbar-height));
    margin-left: var(--leftbar-width);
    max-height: calc(100vh - var(--resultbar-height) - var(--topbar-height) - var(--toolbar-height));
    overflow-y: auto;
}