@import url('../assets/styles/variables.css');

.CodeMirror {
    height: auto;
}

.CodeMirror-selected {
    background-color: #ccc !important
}

div .codemirror-div {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--leftbar-width);
}
