@import url('../../assets/styles/variables.css');

.navbar li {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: #333;
  height: var(--topbar-height);
  width: 100%;
  border-bottom: 1px solid #555;
  display: flex;
  align-items: center;
  z-index: 100;
}

.user-navbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #eee;
  font-weight: bold;
  right: 30px;
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  margin-right: 10px;
}


.user-menu {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
}

.user-list {
  margin-top: calc(var(--topbar-height) - 5px);
  background-color: #5b5a5a7c;
}

.user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .link-menu li:first-child {
  margin-left: var(--leftbar-width);
}

.user-menu li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: #fff;
  text-decoration: none;
}